.finance_details .overAllFinance{
    /* margin-top: 20px; */
    min-width: 16vw;
    width: fit-content;
    min-height: 10vh;
    box-shadow: 0px 0px 10px lightgray;
    padding: 15px 25px;
    flex: 0.2;
    /* justify-content: flex-start; */
}
.overAllFinance .title{
    margin-bottom: 5px;
    text-decoration: underline;
}
.overAllFinance .overAllContainer{
    /* background-color: red; */
    width: 100%;
}
.overAllContainer .overAllItem{
    display: flex;
    justify-content: space-between;
    gap: 2rem;
}


@media (max-width: 600px) {
    .finance_details .overAllFinance{
        width: calc(96vw - 40px);
    }
}