.financeContainer{
    width: 80%;
    display: flex;
    justify-content: center;
    align-self: center;
    gap: 10px;
    flex-direction: column;
}
.finance_details h2{
    text-transform: capitalize;
    text-align: center;
    text-decoration: underline;
    margin-top: 20px;
}
.finance_details{
    width: 100%;
    min-height: 85vh;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.finance_details .cardTitle{
    padding: 10px;
    border: 1px solid black;
}
.finance_details a{
    text-decoration: none;
}
.finance_card{
    /* background-color: cadetblue; */
    width: 100%;
    padding: 20px;
    /* background-color: red; */
    display: flex;
    gap: 20px;
    align-items: flex-start;
    justify-content: space-between;
    flex: 0.8;
}

.finance_card .financeCard_item{
    min-width: 30vw;
    padding: 20px;
    /* background-color: grey; */
    flex: 1;
    border-radius: 5px;
    box-shadow: 0px 0px 10px lightgray;

}


.finance_details .day{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

/* .finance_details .left, .right{
    margin-top: 10vh;
    max-height: fit-content;
    min-width:40%;
    max-width: 50%;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px lightgray;
    display: flex;
    flex-direction: column;
    gap: 5px;
} */
.finance_details .finance_title{
    text-decoration: underline;
    margin-bottom: 10px;
}
.finance_details .finance_text{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: lightgray;
    padding: 10px;
    border-radius: 5px;
    margin-top: 5px;
}
.finance_details .finance_text b {
    text-transform: capitalize;
}
.finance_details .left .finance_text p{
    color: red;
}
.finance_details .right .finance_text p{
    color: green;
}
.finance_details .left .finance_text:last-child{
    font-weight: 600;
    color: red;
}
.finance_details .right .finance_text:last-child{
    font-weight: 600;
    color: green;
    justify-self: end;
}


@media(max-width: 820px){
    .financeContainer{
        width: 96vw;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}


@media(max-width: 600px){
    .financeContainer{
        width: 96vw;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .finance_card{
        width: 100%;
        padding: 20px;
        /* background-color: red; */
        display: flex;
        gap: 20px;
        justify-content: space-around;
        flex-direction: column-reverse;
    }
    .finance_card .financeCard_item{
        width: 100%;
    }
}

